.CurrentForecast-container {
    width: 50vw;
}

.CurrentForecast-weather {

}

.CurrentForecast-local {
    
}

.CurrentForecast-city {
    font-size: 1.5rem;
    color: white;
}

.CurrentForecast-summary {
}

.CurrentForecast-icon {
    width: 70px;
    height: 70px;
    border: 1px solid black
}

.CurrentForecast-temp {

}

.CurrentForecast-actual {

}

.CurrentForecast-apparent {

}

.CurrentForecast-other {

}